.clothes-box-img.one{background: url(/src/caps-src/cap-class-pipa-1.jpg);background-size: cover;}
.clothes-box-img.two{background: url(/src/caps-src/cap-class-pipa-all-black-1.jpg);background-size: cover;}
.clothes-box-img.three{background: url(/src/caps-src/cap-class-primeline-1.jpg);background-size: cover;}
.clothes-box-img.four{background: url(/src/caps-src/cap-class-sport-nylon-1.jpg);background-size: cover;}
.clothes-box-img.five{background: url(/src/caps-src/cap-helas-1.jpg);background-size: cover;}

.clothes-box-img.six{background: url(/src/caps-src/cap-idios-surf-1.jpg);background-size: cover;}
.clothes-box-img.seven{background: url(/src/caps-src/cap-kalenji-1.jpg);background-size: cover;}
.clothes-box-img.eight{background: url(/src/caps-src/cap-lacoste-1.jpg);background-size: cover;}
.clothes-box-img.nine{background: url(/src/caps-src/cap-new-era-1.jpg);background-size: cover;}
.clothes-box-img.ten{background: url(/src/caps-src/cap-vintage-looneytunes-1.jpg);background-size: cover;}
