body
{
    display: flex;

}

header
{
    width: 100%;
    height: 5%;
}

footer
{
    height: 1%;
}

#login
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

#left
{
    width: 50%;
    height: 100vh;
}

#right
{
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

#formulario
{
    padding: 24px;
    width: 430px;
}

#formulario h1
{
    color: #000000e0;
    font-size: 28px;
    margin-bottom: 25px;
    transition: .6s ease-in-out;
}

.label
{
    display: block;
    color: #000000e0;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
}

 .input
{
    padding: 12px 0px;
    width: 100%;
    border-bottom: 1px solid #222222;
    background: transparent;
    color: #000000e0;
}

 .input:focus
{
    outline: 0;
}

.input[type="number"]::-webkit-outer-spin-button, .input[type="number"]::-webkit-inner-spin-button
{
    -webkit-appearance: none;
}

#entrar
{
    display: block;
    width: 100%; 
    border-radius: 64px;
    background: #222222;
    color: #ffffff52;
    border: 1px solid #222222;
    margin-top: 30px;
    padding: 10px 0px;
    font-size: 16px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

#entrar:hover
{
   border: 1px solid rgb(255, 255, 255);
   color: #ffffff;
}

#formulario p
{
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
}

#formulario p>a
{
    color: #000000e0;
    text-decoration: underline;
    transition: all .4s ease-in-out;
}

#formulario p>a:hover
{
    color: #4f91ff;
    text-decoration: underline;
}