.clothes-box-img.one{background: url(/src/pants-src/pant-kaue-jeans-1.jpg);background-size: cover;}
.clothes-box-img.two{background: url(/src/pants-src/pant-fideli-jeans-1.jpg);background-size: cover;}
.clothes-box-img.three{background: url(/src/pants-src/pant-banana-jeans-1.jpg);background-size: cover;}
.clothes-box-img.four{background: url(/src/pants-src/pant-dazling-jeans-1.jpg);background-size: cover;}
.clothes-box-img.five{background: url(/src/pants-src/pant-central-surf-1.jpg);background-size: cover;}

.clothes-box-img.six{background: url(/src/pants-src/pant-baggy-veludo-1.jpg);background-size: cover;}
.clothes-box-img.seven{background: url(/src/pants-src/pant-cargo-ripstop-1.jpg);background-size: cover;}
.clothes-box-img.eight{background: url(/src/pants-src/pant-cargo-downunder-1.jpg);background-size: cover;}
.clothes-box-img.nine{background: url(/src/pants-src/pant-kailash-1.jpg);background-size: cover;}
.clothes-box-img.ten{background: url(/src/pants-src/pant-brazilian-selection-1.jpg);background-size: cover;}
