.clothes-box-img.one{background: url(/src/coat-src/coat-anorak-chaps-1.jpg);background-size: cover;}
.clothes-box-img.two{background: url(/src/coat-src/coat-christian-audigier-1.jpg);background-size: cover;}
.clothes-box-img.three{background: url(/src/coat-src/coat-columbia-titanium-1.jpg);background-size: cover;}
.clothes-box-img.four{background: url(/src/coat-src/coat-columbia-vertex-vintage-1.jpg);background-size: cover;}
.clothes-box-img.five{background: url(/src/coat-src/coat-fleece-sigilo-1.jpg);background-size: cover;}

.clothes-box-img.six{background: url(/src/coat-src/coat-franch-selection-1.jpg);background-size: cover;}
.clothes-box-img.seven{background: url(/src/coat-src/coat-idios-surf-1.jpg);background-size: cover;}
.clothes-box-img.eight{background: url(/src/coat-src/coat-puffer-millet-1.jpg);background-size: cover;}
.clothes-box-img.nine{background: url(/src/coat-src/coat-sarja-1.jpg);background-size: cover;}
.clothes-box-img.ten{background: url(/src/coat-src/coat-sport-polartec-1.jpg);background-size: cover;}
