.clothes-box-img.one{background: url(/src/tshirts-src/tshirt-piao-1.jpg);background-size: cover;}
.clothes-box-img.two{background: url(/src/tshirts-src/tshirt-mad-enlatados-1.jpg);background-size: cover;}
.clothes-box-img.three{background: url(/src/tshirts-src/tshirt-brazil-1.jpg);background-size: cover;}
.clothes-box-img.four{background: url(/src/tshirts-src/tshirt-tommy-1.jpg);background-size: cover;}
.clothes-box-img.five{background: url(/src/tshirts-src/tshirt-anotherbullshit-1.jpg);background-size: cover;}

.clothes-box-img.six{background: url(/src/tshirts-src/tshirt-class-ab-1.jpg);background-size: cover;}
.clothes-box-img.seven{background: url(/src/tshirts-src/tshirt-class-judith-1.jpg);background-size: cover;}
.clothes-box-img.eight{background: url(/src/tshirts-src/tshirt-outofbox-1.jpg);background-size: cover;}
.clothes-box-img.nine{background: url(/src/tshirts-src/tshirt-class-ethericplane-1.jpg);background-size: cover;}
.clothes-box-img.ten{background: url(/src/tshirts-src/tshirt-class-glass-1.jpg);background-size: cover;}
